.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.navbar {
  max-width: 960px;
  margin: auto;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  font-weight: bold;
}
